# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
target/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
